<div *ngIf="entities$ | async as entities">
  <ng-container 
    *ngIf="entities.length > 0 && entities[0].type === 'BORROWING_REQUEST'; then borrowingtasklist; else noentities"
  ></ng-container>

  <ng-template #noentities>
    <div class="highlight">To use this app, navigate to the Borrowing Requests page in Alma.</div>
  </ng-template>
  
  <ng-template #borrowingtasklist>
    <div *ngIf="!hasSettings" class="highlight">To use this app, you must first configure it's settings. Institute field is mandatory.</div>
    <div *ngIf="hasSettings">
      <div class="eca-actions">
          <mat-checkbox class="select-all-checkbox" (change)="$event.checked ? onSelectAllClicked() : requests.deselectAll()">Select all</mat-checkbox>
          <div class="request-all-button" *ngIf="requests.selectedOptions.selected.length > 0">
            <button mat-flat-button class="primary" color="primary" (click)="onBulkPlaceOrderClicked(requests.selectedOptions.selected)" [disabled]="requests.selectedOptions.selected.length === 0 && !loading">Request all {{requests.selectedOptions.selected.length}} items</button>
            <!-- <button mat-flat-button color="secondary" (click)="requests.deselectAll()" [disabled]="requests.selectedOptions.selected.length === 0">Clear</button> -->
          </div>
      </div>
      <mat-checkbox #termsofuse class="terms-of-use-checkbox">I accept <a href="https://www.copyright.com/landing/gintou/" target="_blank">terms of use</a></mat-checkbox>
      <mat-selection-list #requests (selectionChange)="onSelectedChanged($event)">
        <mat-list-option checkboxPosition="before" *ngFor="let entity of pageEntities" [value]="entity" [ngClass]="(!loading && isEnabled(entity.id) && isPriceLoaded(entity.id) && getEntityPrice(entity.id)!='-1') ? 'entity-option' : 'entity-option-disabled'">
          <div class="request-info">
            <span class="request-info-title" color="primary">{{entity.description}}</span>
            <span class="request-info-author" *ngIf="getEntityAuthor(entity.id) && getEntityAuthor(entity.id)!=''">{{getEntityAuthor(entity.id)}}</span>
            <div class="request-info-field" *ngIf="getEntityJournalTitle(entity.id) && getEntityJournalTitle(entity.id)!=''">
              <span class="request-info-field-key">Journal title: </span>
              <span class="request-info-field-value">{{getEntityJournalTitle(entity.id)}}</span>
            </div>
            <div class="request-info-field" *ngIf="getEntityPublication(entity.id) && getEntityPublication(entity.id)!=''">
              <span class="request-info-field-key">Publication: </span>
              <span class="request-info-field-value">{{getEntityPublication(entity.id)}}</span>
            </div>
            <div class="request-info-field" *ngIf="getEntityPages(entity.id) && getEntityPages(entity.id)!=''">
              <span class="request-info-field-key">Pages: </span>
              <span class="request-info-field-value">{{getEntityPages(entity.id)}}</span>
            </div>
            <div class="button-msg-section">
              <div *ngIf="loading || !isPriceLoaded(entity.id) || getEntityOrderStatus(entity.id) == 'loading'">
                <mat-spinner diameter="25"></mat-spinner>
              </div>
              <div class="request-price-button" *ngIf="!loading && isPriceLoaded(entity.id) && getEntityPrice(entity.id)!='-1' && getEntityOrderStatus(entity.id) == ''">
                <!-- <div class="terms-of-use">
                  <mat-checkbox [checked]="isAccept(entity.id)" (change)="handleTerms($event, entity.id)">I accept the</mat-checkbox>
                  <a href="www.copyright.com/getitnow" target="_blank">terms of use</a>
                </div> -->
                <button mat-flat-button class="primary" color="primary" (click)="onPlaceOrderClicked($event, entity.id)">Request PDF ${{getEntityPrice(entity.id)}}</button>
              </div>
              <div class="request-warning-msg" *ngIf="!loading && !isEnabled(entity.id)">
                <mat-icon>error</mat-icon>
                Only active electronic requests can be sent to CCC                
              </div>
              <div class="request-warning-msg" *ngIf="!loading && isEnabled(entity.id) && isPriceLoaded(entity.id) && getRequestAvailability(entity.id)=='N'">
                <mat-icon>error</mat-icon>
                Not Available through Get It Now               
              </div>
              <div class="request-error-msg" *ngIf="!loading && isEnabled(entity.id) && isPriceLoaded(entity.id) && getRequestAvailability(entity.id) == 'F'">
                <mat-icon matTooltip="{{ getPriceErrorMsg(entity.id) }}" [matTooltipDisabled]="false">cancel</mat-icon>
                Failed to calculate price
              </div>
              <div class="request-error-msg" *ngIf="getEntityOrderStatus(entity.id) == 'failed' && termsofuse.checked">
                <mat-icon matTooltip="{{ getOrderErrorMsg(entity.id) }}" [matTooltipDisabled]="false">cancel</mat-icon>
                Failed to submit the request
              </div>
              <div class="request-error-msg" *ngIf="getEntityOrderStatus(entity.id) == 'failed' && !termsofuse.checked">
                <mat-icon matTooltip="{{ getOrderErrorMsg(entity.id) }}" [matTooltipDisabled]="false">cancel</mat-icon>
                To submit the request, you must accept the terms of use
              </div>
              <div class="request-success-msg" *ngIf="getEntityOrderStatus(entity.id) == 'done'">
                <mat-icon>check_circle</mat-icon>
                The request was successfully submitted
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
      <div class="links">
        <ul>
          <li>Questions? <a href="mailto:getitnowsupport@copyright.com" target="_blank">send an email</a></li>
          <li>Sign-up for Get It Now: <a href="mailto:getitnowsupport@copyright.com" target="_blank">send an email</a></li>
          <li>Get It Now Info: <a href="www.copyright.com/getitnow" target="_blank">www.copyright.com/getitnow</a></li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
